 .labels{
    font-size: 10px;
} 
/* 
@media only screen and (max-width: 700px) {
    .vis-holder {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly; 
    };
  }; */



