.grid-basics-example {
    width: 20%;
}

.switch, P {
    text-align: center;
}

.fieldset {
    padding: 5px 5px !important;
}

/* .flex {
    flex-direction: column;
}

.spacing {
    display: flex;
    justify-content: space-between;
  } */