.paragraph {
    margin: 25px 0px;
 }

 .brandName {
   margin-bottom: 15px;
 }

 .risk {
   margin-bottom: 50px;
 }
 .titlepage {
  padding: 15px;
  background-color: #4BA0A5;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  font-size: 20px;
}

