  .paragraph {
    margin: 10px;
  }

  .brandName {
    margin-bottom: 15px;
  }

  .tower3, .tower2, .tower1 {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #00AACD;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    display: block;
    /* display: inline-block; */
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
  }

  .podium {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #00AACD;
    margin-bottom: 15px;
    padding: 10px 100px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    display: block;
    /* display: inline-block; */
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
  }

  .assessment, .submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #00AACD;
    margin-bottom: 15px;
    padding: 10px 115px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    display: block;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
  }

  .trending {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #00AACD;
    margin-bottom: 15px;
    padding: 10px 115px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    display: block;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
  }

  .logout {
    padding: 15px;
    background-color: #00AACD;
    color: #00AACD;
    font-weight: bold;
    border-radius: 6px;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    margin-left: 15px;
  }